*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
local.properties
reserve.md
HELP.md
.грэдли
строить/

### STS ###
.apt_generated
.путь к классу
.путь к фабрике
.проект
.настройки
.Весенние бобы
.sts4-кэш

### ИДЕЯ IntelliJ ###
.идея
*.iws
*.iml
*.пис
из/

### Студия Android ###
местные.свойства
захваты/
.Внешнее построение
.cxx

### NetBeans ###
/nbproject/частный/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### ПРОТИВ кода ###
.vscode/

### Файлы Пакетов ###
*.банка
*.война
*.нар
*.ухо
*.zip
*.tar.gz
*.rar

### Грэдл ###
!gradle/wrapper/gradle-wrapper.jar
